.commitsPer10 {
  width: 100%;
  min-height: 245px;
  border: 1px solid yellow;
}

.style {
  margin-top: 15px;
  border: 1px solid yellow;
}

@media screen and (min-width: 768px) {
  .commitsPer10 {
    height: 369px;
    width: 50%;
  }
}
